In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')

df_train

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54803,3030,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,0,78,0
54804,74592,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,0,56,0
54805,13918,Analytics,region_1,Bachelor's,m,other,1,27,5.0,3,1,0,79,0
54806,13614,Sales & Marketing,region_9,NaN,m,sourcing,1,29,1.0,2,0,0,45,0
54807,51526,HR,region_22,Bachelor's,m,other,1,27,1.0,5,0,0,49,0

# Treating missing values for train dataset

In [3]:
df_train.isna().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [4]:
df_train['education'].mode()

0    Bachelor's
dtype: object

In [5]:
df_train['education'].fillna("Bachelor's",inplace=True)
df_train['education'].isna().any()

False

In [6]:
df_train['previous_year_rating'].median()

3.0

In [7]:
df_train['previous_year_rating'].fillna(3.0,inplace=True)
df_train['previous_year_rating'].isna().any()

False

In [8]:
df_train.isna().any()

employee_id             False
department              False
region                  False
education               False
gender                  False
recruitment_channel     False
no_of_trainings         False
age                     False
previous_year_rating    False
length_of_service       False
KPIs_met >80%           False
awards_won?             False
avg_training_score      False
is_promoted             False
dtype: bool

# Treating missing values for test dataset

In [9]:
df_test.isna().sum()

employee_id                0
department                 0
region                     0
education               1034
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    1812
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
dtype: int64

In [10]:
df_test['education'].mode()

0    Bachelor's
dtype: object

In [11]:
df_test['education'].fillna("Bachelor's",inplace=True)
df_test['education'].isna().any()

False

In [12]:
df_test['previous_year_rating'].median()

3.0

In [13]:
df_test['previous_year_rating'].fillna(3.0,inplace=True)
df_test['previous_year_rating'].isna().any()

False

In [14]:
df_test.isna().any()

employee_id             False
department              False
region                  False
education               False
gender                  False
recruitment_channel     False
no_of_trainings         False
age                     False
previous_year_rating    False
length_of_service       False
KPIs_met >80%           False
awards_won?             False
avg_training_score      False
dtype: bool

# Converting train dataset dtypes

In [15]:
df_train.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [16]:
df_train['department'].value_counts()

Sales & Marketing    16840
Operations           11348
Procurement           7138
Technology            7138
Analytics             5352
Finance               2536
HR                    2418
Legal                 1039
R&D                    999
Name: department, dtype: int64

In [17]:
df_train['region'].value_counts()

region_2     12343
region_22     6428
region_7      4843
region_15     2808
region_13     2648
region_26     2260
region_31     1935
region_4      1703
region_27     1659
region_16     1465
region_28     1318
region_11     1315
region_23     1175
region_29      994
region_32      945
region_19      874
region_20      850
region_14      827
region_25      819
region_17      796
region_5       766
region_6       690
region_30      657
region_8       655
region_10      648
region_1       610
region_24      508
region_12      500
region_9       420
region_21      411
region_3       346
region_34      292
region_33      269
region_18       31
Name: region, dtype: int64

In [18]:
df_train['education'].value_counts()

Bachelor's          39078
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [19]:
df_train['gender'].value_counts()

m    38496
f    16312
Name: gender, dtype: int64

In [20]:
df_train['recruitment_channel'].value_counts()

other       30446
sourcing    23220
referred     1142
Name: recruitment_channel, dtype: int64

In [21]:
df_train_dummy=pd.get_dummies(df_train,drop_first=True)
df_train_dummy

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,department_Finance,...,region_region_5,region_region_6,region_region_7,region_region_8,region_region_9,education_Below Secondary,education_Master's & above,gender_m,recruitment_channel_referred,recruitment_channel_sourcing
0,65438,1,35,5.0,8,1,0,49,0,0,...,0,0,1,0,0,0,1,0,0,1
1,65141,1,30,5.0,4,0,0,60,0,0,...,0,0,0,0,0,0,0,1,0,0
2,7513,1,34,3.0,7,0,0,50,0,0,...,0,0,0,0,0,0,0,1,0,1
3,2542,2,39,1.0,10,0,0,50,0,0,...,0,0,0,0,0,0,0,1,0,0
4,48945,1,45,3.0,2,0,0,73,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54803,3030,1,48,3.0,17,0,0,78,0,0,...,0,0,0,0,0,0,0,1,0,1
54804,74592,1,37,2.0,6,0,0,56,0,0,...,0,0,0,0,0,0,1,0,0,0
54805,13918,1,27,5.0,3,1,0,79,0,0,...,0,0,0,0,0,0,0,1,0,0
54806,13614,1,29,1.0,2,0,0,45,0,0,...,0,0,0,0,1,0,0,1,0,1
54807,51526,1,27,1.0,5,0,0,49,0,0,...,0,0,0,0,0,0,0,1,0,0

In [22]:
df_test_dummy=pd.get_dummies(df_test,drop_first=True)
df_test_dummy

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,department_Finance,department_HR,...,region_region_5,region_region_6,region_region_7,region_region_8,region_region_9,education_Below Secondary,education_Master's & above,gender_m,recruitment_channel_referred,recruitment_channel_sourcing
0,8724,1,24,3.0,1,1,0,77,0,0,...,0,0,0,0,0,0,0,1,0,1
1,74430,1,31,3.0,5,0,0,51,0,1,...,0,0,0,0,0,0,0,0,0,0
2,72255,1,31,1.0,4,0,0,47,0,0,...,0,0,0,0,0,0,0,1,0,0
3,38562,3,31,2.0,9,0,0,65,0,0,...,0,0,0,0,0,0,0,0,0,0
4,64486,1,30,4.0,7,0,0,61,1,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23485,53478,1,24,3.0,1,0,0,61,0,0,...,0,0,0,0,0,1,0,1,0,1
23486,25600,1,31,3.0,7,0,0,74,0,0,...,0,0,0,0,0,0,0,1,0,1
23487,45409,1,26,4.0,4,0,0,50,0,1,...,0,0,0,0,0,0,0,0,0,1
23488,1186,3,27,3.0,1,0,0,70,0,0,...,0,0,0,0,0,0,0,1,0,1
23489,5973,3,40,5.0,5,1,0,89,0,0,...,0,0,0,0,0,0,1,1,0,0

In [23]:
X=df_train_dummy.drop(columns=['employee_id','is_promoted'])
y=df_train_dummy['is_promoted']

In [24]:
from sklearn.preprocessing import MinMaxScaler

sc=MinMaxScaler()
X_new=pd.DataFrame(sc.fit_transform(X))
X_new.columns=X.columns
X_new.index=X.index

X_new

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,department_Finance,department_HR,department_Legal,...,region_region_5,region_region_6,region_region_7,region_region_8,region_region_9,education_Below Secondary,education_Master's & above,gender_m,recruitment_channel_referred,recruitment_channel_sourcing
0,0.000000,0.375,1.00,0.194444,1.0,0.0,0.166667,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.000000,0.250,1.00,0.083333,0.0,0.0,0.350000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.000000,0.350,0.50,0.166667,0.0,0.0,0.183333,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.111111,0.475,0.00,0.250000,0.0,0.0,0.183333,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.000000,0.625,0.50,0.027778,0.0,0.0,0.566667,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54803,0.000000,0.700,0.50,0.444444,0.0,0.0,0.650000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
54804,0.000000,0.425,0.25,0.138889,0.0,0.0,0.283333,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
54805,0.000000,0.175,1.00,0.055556,1.0,0.0,0.666667,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
54806,0.000000,0.225,0.00,0.027778,0.0,0.0,0.100000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
54807,0.000000,0.175,0.00,0.111111,0.0,0.0,0.166667,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [25]:
X_test=df_test_dummy.drop(columns=['employee_id'])

In [26]:
sc=MinMaxScaler()
X_test_new=pd.DataFrame(sc.fit_transform(X_test))
X_test_new.columns=X_test.columns
X_test_new.index=X_test.index

X_test_new

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,department_Finance,department_HR,department_Legal,...,region_region_5,region_region_6,region_region_7,region_region_8,region_region_9,education_Below Secondary,education_Master's & above,gender_m,recruitment_channel_referred,recruitment_channel_sourcing
0,0.00,0.100,0.50,0.000000,1.0,0.0,0.633333,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.00,0.275,0.50,0.121212,0.0,0.0,0.200000,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.00,0.275,0.00,0.090909,0.0,0.0,0.133333,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.25,0.275,0.25,0.242424,0.0,0.0,0.433333,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.00,0.250,0.75,0.181818,0.0,0.0,0.366667,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23485,0.00,0.100,0.50,0.000000,0.0,0.0,0.366667,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
23486,0.00,0.275,0.50,0.181818,0.0,0.0,0.583333,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
23487,0.00,0.150,0.75,0.090909,0.0,0.0,0.183333,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
23488,0.25,0.175,0.50,0.000000,0.0,0.0,0.516667,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
23489,0.25,0.500,1.00,0.121212,1.0,0.0,0.833333,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_valid,y_train,y_valid=train_test_split(X_new,y,random_state=21,test_size=0.2,stratify=y)

# HUNGA-BUNGA

In [42]:
from hunga_bunga import HungaBungaClassifier,HungaBungaRegressor

ImportError: cannot import name 'HungaBungaRegressor' from 'regression' (C:\Users\sanka\Anaconda3\lib\site-packages\regression\__init__.py)

# Logistic Regression

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
lg_model=LogisticRegression()

In [30]:
lg_model.fit(X_train,y_train)

C:\Users\sanka\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
from sklearn.metrics import f1_score
pred=lg_model.predict(X_valid)
f1_score(pred,y_valid)

0.3520408163265306

# Random Forest

In [33]:
from sklearn.ensemble import RandomForestClassifier

In [34]:
rf_model=RandomForestClassifier(n_estimators=60,n_jobs=-1,oob_score=True,min_samples_split=10)

In [35]:
rf_model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, n_estimators=60, n_jobs=-1,
                       oob_score=True, random_state=None, verbose=0,
                       warm_start=False)

In [36]:
pred=rf_model.predict(X_valid)
f1_score(pred,y_valid)

0.4457142857142857

# XGBoost

In [37]:
from xgboost import XGBClassifier

C:\Users\sanka\Anaconda3\lib\site-packages\distributed\utils.py:138: RuntimeWarning: Couldn't detect a suitable IP address for reaching '8.8.8.8', defaulting to '127.0.0.1': [WinError 10065] A socket operation was attempted to an unreachable host
  RuntimeWarning,

In [49]:
xgb=XGBClassifier(learning_rate=0.1, n_estimators=200, max_depth=4, min_child_weight=7, 
                      gamma=0.4,nthread=4, subsample=0.8, colsample_bytree=0.8, objective= 'binary:logistic',scale_pos_weight=3,seed=29)

In [50]:
xgb.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.8, gamma=0.4, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.1, max_delta_step=0, max_depth=4,
              min_child_weight=7, missing=nan, monotone_constraints='()',
              n_estimators=200, n_jobs=4, nthread=4, num_parallel_tree=1,
              objective='binary:logistic', random_state=29, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=3, seed=29, subsample=0.8,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [51]:
from sklearn.metrics import f1_score
pred=xgb.predict(X_valid)
f1_score(pred,y_valid)

0.5242091672046482

# making predictions for test dataset

In [52]:
pred=xgb.predict(X_test_new)
pred

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [53]:
submission=pd.read_csv('sample_submission.csv')
submission['is_promoted']=pred
submission.to_csv('xgboost.csv',index=False)